.container-produto {
    width: 150px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    border-radius: 50px;
}

.nome-produto {
 
}

.imagem-produto {}

.dados-prod {
    
}